 body {
    margin :0;
    padding :0;
}
.mainclass {
    display:flex;
    
}
.subclass-1 {
    background-color: #3C3F3F;
    flex:1;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.subclass-2 {
    flex :1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.tagline {
    width:400px
}
.tagline h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 50px;
    color: #0EBAEE;
    font-family: 'Raleway', sans-serif;
    
}
.music {
    margin: 30px 0 0 80px;
}
.music h2 {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.info {
    margin:0 0 0 80px;
    background-image: url('../pics/aks.jpg');
    background-size:600px 500px;
    background-repeat: no-repeat;
}    
.timer {
    margin:0 0 30px 80px;
    display: flex;
    
    
   
}

.timer h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.im  img {
    margin-left: 500px;
    width: 50px;
    
    
}



.welcome h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 3rem;

}
.welcome h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.btn {
    margin-top: 30px;

}
.btn button {
    width: 300px;
    padding :20px 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-color: none;
    background-color: #0EBAEE;
    box-shadow:0 0 20px  #0EBAEE;
    border-radius: 5px;
    transition: all 0.5s;
}


.btn button:hover {
    cursor: pointer;
    box-shadow: 0 0 40px #003399;
    background-color: #000fff;
    color:#e6eeff;


}

